$margin: 40px;

.cart {
    padding-top: 120px;
    padding-bottom: 50px;
    min-height: 100vh;
    color: #fff;

    &__title {
        font-size: 36px;
        text-align: center;
        font-weight: 300;
    }

    &__list {
        width: 60%;
        margin: 0 auto;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        border: 1px solid rgba(256, 256, 256, .2);
        background-color: rgba(0, 0, 0, .7);
        box-shadow: 0 0 20px rgba(256, 256, 256, .1);

        &-title,
        &-price,
        &-minus,
        &-plus,
        &-amount {
            width: 250px;
            text-align: center;
            color: #fff;
            font-size: 24px;
        }

        &-minus,
        &-plus {
            width: 25px;
            height: 25px;
            border-radius: 100%;
            background-color: #fff;
            color: black;
            text-align: center;
            cursor: pointer;
        }

        &-img {
            height: 125px;
            width: 250px;
            object-fit: cover;
        }
    }

    &__close {
        position: absolute;
        width: 25px;
        height: 25px;
        text-align: center;
        top: -10px;
        right: -10px;
        color: #fff;
        font-size: 20px;
        border-radius: 100%;
        border: 1px solid #fff;
        cursor: pointer;
    }

    &__empty {
        text-align: center;
        font-size: 24px;
        margin: $margin 0;
    }

    &__btn {
        text-align: center;
        margin: $margin 0;

        button {
            font-size: 1rem;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            border-radius: .25rem;
            line-height: 1.5;
            cursor: pointer;
        }
    }
}